.content {
    margin: 4px 16px;
}

input[type=range]::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
    margin: -4px 0;
}

input[type=range]::-moz-range-thumb {
    width: 24px;
    height: 24px;
    margin: -4px 0;
}

.with-range > :not(:last-child) {
    margin-inline-end: 8px;
}
